@import url(https://fonts.googleapis.com/css2?family=Cinzel:wght@400;

700;900&display=swap);* {
  font-family: "Cinzel", serif;
}

/******************** NAVBAR ********************/

.navbar {
  background-color: black;
  color: white !important;
}

.nav-item {
  color: white;
  position: relative;
  display: inline-block;
  overflow: hidden;
  background: linear-gradient(to right, lightgrey, lightgrey 50%, white 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}

.nav-item:hover {
  background-position: 0 100%;
}

/* .main {
	padding: 0 5%;
} */

/******************** MEDIA QUERIES ********************/

