// Typography
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700;900&display=swap');
$font-family: 'Cinzel', serif;

$size-xxl: 3rem;
$size-xl: 2rem;
$size-l: 1.5rem;
$size-m: 1.125rem;
$size-s: 1rem;
$size-xs: 0.75rem;


// Colors
$blue: #2775A3;
$dark-blue: #12374D;
$black: #020202;
$grey: #909090;
$white: #FFFFFF;

/**************************************** GENERAL ****************************************/
* {
	font-family: $font-family;
	color: $white;
}

body {
	background-color: $black !important;
}

.big-title {
	font-size: $size-xxl;
	font-weight: 900;
}

.ornament {
	width: 180px;
	fill: $white;
}


/******************** BUTTONS ********************/
.home-start-buttons {
	margin-top: 2rem;
	display: flex;
}

.buttons-download {
	margin-top: 2rem;
}

.button-download {
	max-width: 100px;
	max-height: 30px;
	margin-right: 1rem;
	transition: 0.3s;
	transition-timing-function: ease-in;

	&:hover {
		transform: scale(1.05);
		transition: 1;
	}
}

.svg-wrapper {
  position: relative;
  width: 246px;
  height: 50px;
  padding: 0;
  margin: 0;
  text-align: center;
  border: 1px solid white;
  margin: 1rem;
  cursor: pointer;
  background-color: transparent;

  &:hover {
	  text-decoration: none;
  }
}
.shape1,
.shape2 {
  stroke-dasharray: 592;
  stroke-width: 3px;
  fill: transparent;
  background-color: transparent;
  stroke: $white;
  transition-timing-function: ease-out;
  transition: stroke-dashoffset 2s, stroke-dasharray 2s;
}
.shape1 {
  stroke-dashoffset: 592;
}
.shape2 {
  stroke-dashoffset: -592;
}
.button-text {
  font-family: $font-family;
  font-size: $size-s;
  font-weight: 700;
  color: #fff;
  top: -48px;
  position: relative;

  &.submit {
	top: -36px;
  }
}
.svg-wrapper:hover .shape1,
.svg-wrapper:hover .shape2 {
  stroke-dashoffset: 0;
  stroke-dasharray: 592;
}

/**************************************** HEADER ****************************************/
.navbar {
	background-color: transparent; 
	color: $white !important;
	position: absolute !important;
	width: 100%;
	z-index: 10 !important;

	&-nav {
		margin-left: 1rem;
	}
}


.nav-item {
	color: $white !important;
	position: relative;
	display: inline-block;
	overflow: hidden;
	background: linear-gradient(to right, $white, $white 50%, #BFBFBF 50%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 200% 100%;
	background-position: 100%;
	transition: background-position 1s ease;
	margin-right: 3rem;
	margin-left: 1rem;

	&:hover {
		background-position: 0 100%;
	}
}


/**************************************** FOOTER ****************************************/
footer {
	background-color: $black;
	color: $white;
	font-size: $size-s;
	padding-top: 3rem;
}

.page-footer {
	ul {
		margin: 0;
	}
}

.footer-copyright {
	font-size: $size-xs;
	opacity: 0.5;
	padding: 0;
	padding-bottom: 3rem;
	margin-top: 100px;
}

/**************************************** MAIN ****************************************/

/******************** HOME PAGE ********************/
.container-fluid {
	background-size:cover !important;;
	min-height: 95vh !important;
	background-color: $black;
}

.container-fluid.home-start {
	background: linear-gradient(0deg, rgba(2,2,2,1) 0%, rgba(2,2,2,0) 40%), url(../images/background.jpg);
	display: flex;
	justify-content: start;
	align-items: center;
	overflow: hidden;
}


.home-start-text {
	color: $white;

	.slogan {
		font-size: $size-l;
		margin: 0;
	}

	.title {
		font-size: $size-xxl;
		font-weight: 900;
		margin: 0;
	}

	.text {
		font-size: $size-s;
		margin: 0;
		max-width: 600px;
	}
}

.container-fluid.home-about {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

	h4 {
		font-size: $size-xl;
	}

	img{
		height: 300px;
		width: auto;
		margin: 2rem;
	}

	p {
		font-size: $size-m;
		max-width: 500px;
	}

}


.container-fluid.home-contact {
	background: linear-gradient(180deg, rgba(2,2,2,1) 0%, rgba(2,2,2,1) 0%, rgba(2,2,2,0) 40%, rgba(2,2,2,1) 80%, rgba(2,2,2,1) 100%), url(../images/background1.jpg);
}


.mailform {
	width: 100%;

	&-input{
		margin: 2rem 0;
		padding: 0.5rem 0;
		width: 100%;
		border: none;
		border-bottom: 1px solid $grey;
		background-color: transparent;
		color: $white;

		&::placeholder {
			color: $grey;
		}

		&:focus {
			border: none;
			border-bottom: 1px solid $white;
			background-color: transparent;
			color: $white;
			outline: none;
		}
	}
}

.container-fluid.home-subscribe {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.container-fluid {
	padding-top: 150px !important;
}


/******************** BLOGS PAGE ********************/
.blog {
	display: flex;
	justify-content: center;

	&-left {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		&-author {
			font-size: $size-xs;
		}

		&-title {
			font-size: $size-l;
			font-weight: 700;
			margin: 20px 0;
		}

		&-intro {
			font-size: $size-s;
			line-height: 2rem;
		}
	}
	&-right {

		&-image {
			padding: 20px;
			width: 200px;
			height: 325px;
			object-fit: cover;
		}
	}
}

.fa-angle-right {
	margin-left: 10px;
}

.row.div {
	margin-bottom: 100px;
	height: 80%;
}

.pagination {
	justify-content: center;

	& li a {
		background-color: transparent;
		color: white;
		border: none;
	}


	&:hover {
		color: white;
		opacity: 1;
	}
}

.page-link {
	background-color: transparent !important;
	border: none !important;

	&:hover {
		color: white !important;
	}
}

.page-item {
	margin: 20px;
	opacity: 0.6;

	&:hover {
		opacity: 1;
	}

	&.active {
		font-weight: 700;
		opacity: 1;
	}
}

.goback {
	position: fixed;
	bottom: 0;
	left: 0;
	margin-left: 20px;
	margin-bottom: 100px;
	color: white;
	background-color: rgba(0,0,0,0.4);
	padding: 10px 20px;

	&:hover {
		text-decoration: none;
		color: white;
	}
}

/**************************************** DASHBOARD ****************************************/

.dashboard {
	height: 100vh;
	padding-top: 150px;

}

/**************************************** MEDIA QUERIES ****************************************/

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
	
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
	.container-fluid .navbar {
		padding: 0 5% !important;
	}

	.container-fluid {
		padding-top: 150px !important;
	}

	.svg-wrapper {
		margin-left: 0;
	}
	
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
	.container-fluid, .navbar {
		padding: 0 10% !important;
	}
	.container-fluid {
		padding-top: 150px !important;
	}
	
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
	.char1-container {
		position: absolute;
		display: block;
	}

	.row.div {
		display: flex;
		flex-direction: row-reverse;
	}
}


@media (max-width: 576px) { 
	.button-fill.dark {
		margin: 0;
		margin-top: 1rem;
	}
}

@media (max-width: 992px) { 
	.home-start {
		text-align: center;
		justify-content: center !important;

		&-buttons {
			justify-content: center;
		}
	}

	.container-fluid {
		justify-content: center;
	}

	.mailform {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.home-start-buttons {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.navbar-nav {
		background-color: rgba(0,0,0,0.8);
	}
}

@media (max-width: 1200px) { 

	.blog-right, .blog-left {
		justify-content: center;
		display: flex;
		align-items: center;
	}
	.blog-text {
		text-align: center;
	}
}